/* CSS para página Home */

body {
    font-family: 'Montserrat', sans-serif; /*CSS de la tipografía importada de Google Fonts*/
    width: 940px;
    background: #F3F5FC;
}

.logo {
    display: block;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    width: 80px;
    height: 48px;
    left: 0px;
    top: 20px;
}

main{
    padding: 50px;
    padding-top: 10px;
    display: flex;
}

.box-left {
    width: 70%;
}

.input-padron {
    background-color: #F3F5FC;
    /*border: 0;*/
    color: #0A3871;
    text-align: left;
    margin-top: 90px; 
    text-transform: lowercase; /*convierte las letras a minusculas*/
    resize: none;
}

.input-padron::placeholder {
    color: #0A3871;
    text-align: left;
}

.input-padron:focus {
    outline: none;
    text-align: left;
}

.box-right {
    width: 30%;
    /* White */

    background: #FFFFFF;
    /* shadow */

    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
}

footer {
    font-style: italic;
}